<launch>
    <!--
        Mavros publishes /mavros/local_position/pose with frame_id 'map'
        Publish a dummy transform from map to camera_odom_frame
        -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_camera_odom_frame_tf"
    args="0 0 0 0 0 0 map camera_odom_frame 10" />
    <group>
      <remap from="camera/odom/sample" to="mavros/odometry/odom" />
      <include file="$(find realsense2_camera)/launch/rs_t265.launch" />
    </group>
</launch>
